# Django media & uploads
backend/media/

# SQLite DB
backend/db.sqlite3

# Virtual env
backend.venv/
.venv/

# Python cache
__pycache__/
*.pyc

# PyInstaller (desktop app)
desktop-app/dist/
desktop-app/build/
desktop-app/*.spec
desktop-app/build.log
